.logo-header {
	width: 100%;
}

.logo {
	height: 40vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url("/src/assets/images/body.jpeg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        background-color: rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
	.logo img {
 		width: 80%;
	}
}	
